body{
	display: flex;
    justify-content: space-around;
    height: 30em;
    align-content: space-between;
    align-items: center;
}
a{
<<<<<<< HEAD
	font-size:2em;
=======
	font-size:1em;
}
h1{
	color: blue;
}
h2{
	color: green;
>>>>>>> e66920ff0a1ce0394049bcc3b1af6761c3bab279
}